.App {
    height: 100vh;
    display: flex;
}

.App-content {
    width: 80%;
}
.App-sidebar {
    width: 20%;
    display: flex;
}
.accordion {
    display: flex;
    flex-direction: column;
}
.flex-grow-1 {
    flex-grow: 1;
}
